<launch>
    <!-- Posix SITL environment launch script -->

    <arg name="headless" default="false"/>
    <arg name="gui" default="true"/>
    <arg name="ns" default="/"/>
    <arg name="world" default="iris"/>
    <arg name="build" default="posix_sitl_default"/>
    <arg name="data_path" default="/tmp/px4"/>
    <arg name="rc_script" default="/usr/share/px4/posix-configs/SITL/init/rcS"/>
    <arg name="model" default="iris"/>

    <node pkg="px4" type="sitl.sh" name="simulator" output="screen" args="$(arg rc_script) $(arg model) $(arg data_path)">
    </node>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="headless" value="$(arg headless)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="world_name" value="/usr/share/gazebo-7/worlds/$(arg world).world" />
    </include>
</launch>
